*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(217, 215, 215, 0.908);
}
.navbar{
    /* margin: 1vw 5vw; */
    /* width:90%; */
    display: flex;
    background-color: rgb(57, 57, 58);
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    border: 0.5px solid black;
    /* border-radius: 8px; */
    color: white;
    padding: 0 5vw ;
}
.body{
    background-color: rgb(255, 255, 255);
}
.progress{
    background-color: red;
    height: 2px;
    animation: load 1s ease-in-out 1;
}
@keyframes load {
0%{
    width: 0;

}
50%{
    width: 40vw;
}
100%{
    width: 100vw;
}
}
.items{
    padding-right: 20px;
    
}
.navbar .items ul li {
    list-style: none;
    
}
a{
    text-decoration: none;
    color: white;
}
.navbar .items ul {
    display: flex;
    width: 200px;
    justify-content: space-between;
    
}
.navbar .logo{
    margin-left: 1.5vw;
}
a:hover{
    font-weight: bolder;
    font-size: 20px;
}
.slider img{
    height: 70vh;
    width: 100%;


}
 .slider{
    position: relative;
    width: 100%;
}

.slider > div{
 position: absolute;  
   background:rgb(73, 73, 73);
   width: 30vw;
   color: rgb(224, 224, 224);
   top:25vh;
   left: 35vw;
   border-radius: 10px;
   opacity: 0.8;
   height:12vw;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding: 30px 0;
   text-align: center;

}
/* .slider img{
    height: 100%;
    width: 100vw;
} */


/* Slideshow container */
.cards{
    display: flex;
    flex-direction: column;
    
}
.card img{
    width: 200px;
    height: 200px;
    padding: 20px;
}

.card{
    display: flex;
    width: 50vw;
    height: 25vh;
    margin: 10px 0px 20px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    align-items: center;
    /* flex-wrap: wrap; */
    
    
}
.card .info h1{
    margin-bottom: 10px;
    
}
.flist{
    width: 300px;
    height: 200px;
    background-color: rgba(106, 142, 35, 0.623);
    border-radius: 10px;
    padding: 30px;
    margin:10px;
}
.vlogs{
    display: flex;
    justify-content: center;
    
}
.destination{
    display: flex;
    /* flex-direction: column; */
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:50px;
    padding-bottom: 40px;
    
}
.card2{
    height: 500px;
    width: 350px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px grey;
    margin-top: 50px;
flex-wrap: wrap;
overflow:inherit;
margin: 50px 100px;    
}
.card2 .cardimage img{
width: 100%;
height: 100%;


}
.card2 .cardimage{
height: 60%;
}
.card2 .info{
padding: 20px 30px;

display: flex;
flex-direction: column;
align-items: center;

}
.button{
    padding-top: 20px;
    /* margin-right: 100px; */
    
}
.button button{
    width: 100px;
    height: 26px;
    background-color: rgb(156, 124, 124);
    border-radius: 10px;
}


.heading{
    height: 70px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(149, 203, 228);
    color: rgb(255, 250, 250);
    font-size: 30px;
}

.details{
    height: 150px;
    background-color:rgba(0, 255, 255, 0.503);
    /* align-content: center; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:10px;
     /* margin-top:20px; */
    }
    
    input[type="text" ]{
        border-radius: 10px;
        height: 30px;
        padding-left: 10px;
        

    }
    input[type="text" ]{
        border-radius: 10px;
        height: 30px;
        padding-left: 10px;
        

    }
    input[type="email" ]{
        border-radius: 10px;
        height: 30px;
        padding-left: 10px;
        

    }
    input[type="submit" ]{
        border-radius: 10px;
        height: 30px;
        width: 100px;
        padding: 0 10px;
        margin-left: 10px;
        background-color: rgb(171, 171, 171);
        

    }
    
 .center{
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
    
    